<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/content}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="patient_content">

    <div class="container">
        <p class="text-center h1">Covid Statistics in Ukraine</p>
        <div class="table_block">
            <div class="row">
                <div class="col-2"><p class="text-center" style="color:black;">COVID Live</p></div>
                <div class="col-2"></div>
                <div class="col-2"><p class="text-center" style="color:orange;">Infected</p></div>
                <div class="col-2"><p class="text-center" style="color:red;">Deaths</p></div>
                <div class="col-2"><p class="text-center" style="color:green;">Recovered</p></div>
            </div>
            <div class="row">
                <div class="col-2"><p class="text-center" th:text="'Last updated ' + ${last_update}"></p></div>
                <div class="col-2"><p class="text-center" style="color:black;">Today</p></div>
                <div class="col-2"><p class="text-center" style="color:orange;" th:text="${confirmed_diff}"></p></div>
                <div class="col-2"><p class="text-center" style="color:red;" th:text="${deaths_diff}"></p></div>
                <div class="col-2"><p class="text-center" style="color:green;" th:text="${active_diff}"></p></div>
            </div>
            <div class="row">
                <div class="col-2"><p class="text-center" th:text="'Fatality rate: ' + ${fatality_rate}"></p></div>
                <div class="col-2"><p class="text-center" style="color:black;">Total</p></div>
                <div class="col-2"><p class="text-center" style="color:orange;" th:text="${confirmed}"></p></div>
                <div class="col-2"><p class="text-center" style="color:red;" th:text="${deaths}"></p></div>
                <div class="col-2"><p class="text-center" style="color:green;" th:text="${active}"></p></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>